.contactSection {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0;
}

.contactSection h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.contactSection p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.contactForm {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #171717;
  color: #aaa;
  border: 1px solid transparent;
  outline: none;
  transition: 0.5s;
}

.formGroup input:focus {
  border: 1px solid #0064FF;
}

.formGroup textarea {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #171717;
  color: #aaa;
  border: 1px solid transparent;
  outline: none;
  transition: 0.5s;
}

.formGroup textarea:focus {
  border: 1px solid #0064FF;
}

.submitButton {
  background: #0064FF;
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.submitButton:hover {
  background: #003481;
}

/* 로봇 */
.introRobot {
  margin-bottom: 40px;
}

.robot {
  position: relative;
  height: 19.5vh;
  width: 5vh;
  margin: 0 auto;
  -webkit-animation: robot 0.7s infinite ease-in-out;
  animation: robot 0.7s infinite ease-in-out;
  z-index: 2;
}

.robot div {
  position: absolute;
  transform-origin: 50% 0;
}

.robot .r div {
  background: #6d7174;
}

.robot .l div {
  background: #2c2d2e;
}

.robot .leg.r,
.robot .arm.l {
  -webkit-animation: trans 0.7s 0.35s infinite linear;
  animation: trans 0.7s 0.35s infinite linear;
}

.robot .leg.l,
.robot .arm.r {
  -webkit-animation: trans 0.7s infinite linear;
  animation: trans 0.7s infinite linear;
}

.robot .head {
  top: 2.5vh;
  left: 1.25vh;
  width: 2.25vh;
  height: 2.5vh;
  margin: 0 auto;
  transform-origin: 20% 80%;
  -webkit-animation: head 0.7s infinite linear;
  animation: head 0.7s infinite linear;
  background: #a7aaac;
}

.robot .arm {
  left: 1.25vh;
  top: 5.125vh;
  width: 2vh;
  height: 1.375vh;
}

.robot .arm div {
  top: 100%;
  left: 0;
  width: 100%;
  height: 2.5vh;
  box-sizing: border-box;
  transform: rotate(5deg);
  -webkit-animation: arms1 0.7s infinite linear;
  animation: arms1 0.7s infinite linear;
}

.robot .arm div div {
  -webkit-animation: arms2 0.7s infinite linear;
  animation: arms2 0.7s infinite linear;
}

.robot .arm.l div {
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}

.robot .leg {
  top: 11.25vh;
  left: 1.25vh;
  width: 2vh;
  height: 1vh;
}

.robot .leg div {
  width: 100%;
  height: 3.75vh;
  top: 100%;
  -webkit-animation: legs1 0.7s infinite linear;
  animation: legs1 0.7s infinite linear;
}

.robot .leg div div {
  -webkit-animation: legs2 0.7s infinite linear;
  animation: legs2 0.7s infinite linear;
}

.robot .leg.r div {
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}

.shadow {
  position: relative;
  width: 5.5vh;
  height: 0.75vh;
  margin: 0 auto;
  border-radius: 50%;
  background: #828383;
  -webkit-animation: shadow 0.7s infinite linear;
  animation: shadow 0.7s infinite linear;
  z-index: 1;
}

@-webkit-keyframes robot {
  0%,
  50%,
  100% {
    transform: translateY(0vh) rotate(7deg);
  }

  15%,
  65% {
    transform: translateY(-4vh) rotate(5deg);
  }
}

@keyframes robot {
  0%,
  50%,
  100% {
    transform: translateY(0vh) rotate(7deg);
  }

  15%,
  65% {
    transform: translateY(-4vh) rotate(5deg);
  }
}

@-webkit-keyframes head {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  25%,
  75% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@keyframes head {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  25%,
  75% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes trans {
  0%,
  100% {
    transform: translateX(0vh);
  }

  50% {
    transform: translateX(3vh);
  }
}

@keyframes trans {
  0%,
  100% {
    transform: translateX(0vh);
  }

  50% {
    transform: translateX(3vh);
  }
}

@-webkit-keyframes arms1 {
  0%,
  100% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(-70deg);
  }
}

@keyframes arms1 {
  0%,
  100% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(-70deg);
  }
}

@-webkit-keyframes arms2 {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(-100deg);
  }
}

@keyframes arms2 {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(-100deg);
  }
}

@-webkit-keyframes legs1 {
  0%,
  100% {
    transform: rotate(60deg);
  }

  40% {
    transform: rotate(-90deg);
  }
}

@keyframes legs1 {
  0%,
  100% {
    transform: rotate(60deg);
  }

  40% {
    transform: rotate(-90deg);
  }
}

@-webkit-keyframes legs2 {
  0%,
  100% {
    transform: rotate(2deg);
  }

  33% {
    transform: rotate(150deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@keyframes legs2 {
  0%,
  100% {
    transform: rotate(2deg);
  }

  33% {
    transform: rotate(150deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes shadow {
  0%,
  50%,
  100% {
    transform: scale(1.5);
  }

  25%,
  75% {
    transform: scale(0.98);
  }
}

@keyframes shadow {
  0%,
  50%,
  100% {
    transform: scale(1.5);
  }

  25%,
  75% {
    transform: scale(0.98);
  }
}

/* 반응형 */
@media (max-width: 1200px) {}

@media (max-width: 800px) {
  .contactSection {
    padding: 100px 20px;
  }

  .contactSection h2 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .contactSection p {
    color: #aaa;
    font-size: 16px;
    line-height: 1.4;
  }
}