.footer {
    background: #171717;
    border-top: 1px solid #4b4949;
    padding: 50px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    position: relative;
}
.container p {
    color: #aaa;
    line-height: 1.4;
    width: 80%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.footerButton {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footerButton a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 반응형 */
@media (max-width: 1200px) {
    .footer {
        padding: 50px 20px;
    }
}
@media (max-width: 800px) {
    .footer {
        padding: 20px;
    }
    .container p {
        font-size: 12px;
    }
}