.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    z-index: 1000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}
.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav a {
    color: #aaa;
    padding: 10px 10px;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 14px;
}
.nav a:hover {
    background: #2d2d32;
    color: #fff;
}
.menuButton {
    display: none;
    background: none;
    padding: 0;
}

/* 모바일 */
.mobileMenuBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90; 
}
.mobileNav {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.navTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.mobileLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeButton {
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileNavLink {
    padding: 15px 0;
    color: #aaa;
    transition: 0.5s;
}
.mobileNavLink:hover {
    color: #0064FF;
}

/* 반응형 */
@media (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }
}
@media (max-width: 800px) {
    .header {
        padding: 15px 0;
    }
    .nav {
        display: none;
    }
    .menuButton {
        display: block;
    }
}