.projectSection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
}

.projectTitle {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin-bottom: 100px;
}
.projectTitle h2 {
    color: #0064FF;
    font-weight: bold;
}
.projectTitle p {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 1.4;
}

.projectWrap {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}
.project {
    width: calc(100% / 3 - 27.5px);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.project:hover .projectImage img {
    transform: scale(1.1);
}
.projectImage {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 1rem;
}
.projectImage img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectText {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.projectText h3 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.projectText p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.4;
}
.projectText p:nth-of-type(2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* 반응형 */
@media (max-width: 1200px) {
    .projectSection {
        padding: 200px 20px;
    }
    .projectTitle p {
        font-size: 30px;
    }
    .project {
        width: calc(50% - 20px);
    }
}
@media (max-width: 800px) {
    .projectSection {
        padding: 100px 20px;
    }
    .projectTitle {
        margin-bottom: 40px;
    }
    .projectTitle p {
        font-size: 20px;
    }
    .project {
        width: 100%;
    }
    .projectText {
        gap: 5px;
    }
}